@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    src: url(Inter-VariableFont.ttf) format("truetype");
}

@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 100 900;
    src: url(Outfit-VariableFont.ttf) format("truetype");
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url(material_symbols_outlined.woff2) format("woff2");
}

html,
body {
    overflow: hidden;
    font-family: Outfit, Inter;
    margin: 0;
    padding: 0;
    /*system-ui,*/
    /*-apple-system,*/
    /*BlinkMacSystemFont,*/
    /*"Segoe UI",*/
    /*Roboto,*/
    /*Oxygen,*/
    /*Ubuntu,*/
    /*Cantarell,*/
    /*"Open Sans",*/
    /*"Helvetica Neue",*/
    /*sans-serif;*/
}

* {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    /* margin: 0;
    padding: 0; */
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale;
}
